- zero_balance_row = @dates.select{|date| account.saldo(@date) != 0.0}.empty?

%tr[account]{:class => (zero_balance_row ? 'zero_balance' : '')}
  %td= account.code
  %td= account.title

  - for @date in @dates
    %td.right
      = link_to currency_fmt(account.saldo(@date)), account_path(account, :by_value_period => @date.respond_to?(:first) ? {:from => @date.first.to_s(:db), :to => @date.last.to_s(:db)} : {:to => @date.to_s(:db)}), 'data-href-container' => 'tr'
