- filter_name = :years
- params[filter_name] ||= []

- content_for :sidebar do
  - filters = current_tenant.fiscal_years.reverse.collect {|period| period[:to].year}
  = form_tag url_for(), :method => :get do
    = boot_nav_filter(filter_name, filters, :checkbox)
