- backups = resource.backups
- if backups.empty?
  = boot_no_entry_alert
  .backups.collection
- else
  = render 'backups/list', :collection => backups

.form-actions
  = icon_link_to :backup, dump_tenant_backups_path(resource), :icon => 'download-alt', :method => :post
