- content_for :sidebar do
  %h3 Stammdaten
  %ul
    %li= link_to t_title(:index, Employee), employees_path
    %li= link_to t_title(:index, Employment), employments_path
    %li= link_to t_title(:index, Salary), salaries_path
      