# Rails
# =====
.bundle
db/*.sqlite3
log/*.log
tmp/**/*

# Passenger
tmp/restart.txt

# Vendor
vendor/cache
vendor/bundle

# Volatile
doc/api
doc/app
public/stylesheets/compiled/*.css
public/stylesheets/all.css
app/assets/stylesheets/compiled
public/assets

# Coverage
coverage

# Backup
db/backup

# Data Dumps
db/data.yml

# Local
config/database.yml

# Plugins
# =======
# Carrierwave
uploads/

# Guard
tmp/rspec_guard_result

# Capistrano
config/deploy/*.rb
