# Rails
# =====
.bundle
db/*.sqlite3
log/*.log
tmp/**/*

# Passenger
tmp/restart.txt

# Vendor
vendor/cache
vendor/bundle

# Volatile
doc/api
doc/app
public/stylesheets/compiled/*.css
public/stylesheets/all.css
app/assets/stylesheets/compiled
public/assets

# Backup
db/backup

# Local
config/database.yml

# Plugins
# =======
# Capistrano
config/deploy/*.rb

# Sphinx Freetext Search
db/sphinx
config/*.sphinx.conf
config/sphinx/

# Bookyt Data
# ===========
public/booking_imports
public/system

# Config
config/initializers/bookyt.rb
coverage/*
system/*
lour
