%tr[employee]
  %td= link_to employee.vcard.try(:full_name), employee, {'data-href-container' => 'tr'}
  %td= [ employee.vcard.address_lines.join(", "), employee.vcard.contacts.map{|contact| contact.to_s(': ', :label)}.join(', ') ].compact.join("<br/>").html_safe

  %td.action-links
    = list_link_for(:edit, employee)
    = list_link_for(:delete, employee)
