= render 'application/show'

.contextual
  = icon_link_to :new, new_invoice_attachment_path(resource), :remote => true
%h3= t('title.attachments')

- @attachments = resource.attachments
#attachments_list
  = render 'attachments/list' unless @attachments.empty?
