- @invoices = resource.invoices
- if @invoices.empty?
  = boot_alert(t('invoices.alerts.empty'))
  .invoices.collection

- else
  = render 'invoices/list' unless @invoices.empty?
  = render 'invoices/sidebar'
