.contextual
  = icon_link_to :new, new_invoice_asset_path(resource, :asset => {:purchase_invoice_id => resource.id}), :remote => true
%h3= t('title.assets')

- @assets = resource.assets
#assets_list
  = render 'assets/list' unless @assets.empty?
