- @invoice = resource_class.new
- @invoice.build_company
= semantic_fields_for @invoice do |invoice|
  = invoice.fields_for :company do |f|
    .row
      .span5
        = f.inputs t('form.person.address') do
          = render 'vcards/form', :f => f
