- @invoice = resource_class.new
- @invoice.build_customer
= fields_for @invoice do |invoice|
  = invoice.fields_for :customer do |f|
    .row-fluid
      .span6
        %h3= t('form.person.address')
        = render 'has_vcards/vcards/form', :f => f, :full_vcard => true
