- unless @invoice_sidebar
  - @invoice_sidebar = true

  - content_for :sidebar do
    .sub-tabs
      %h3 Rechnungsfilter
      %ul{:style => 'list-style: none'}
        - current_state = current_scopes[:by_state]
        %li= link_to invoice_state_label('all', current_state.nil?), url_for(:by_state => 'all')
        - for state in Invoice::STATES
          %li= link_to invoice_state_label(state, state.to_s == current_state), url_for(:by_state => state)
