- unless @invoice_sidebar
  - @invoice_sidebar = true

  - content_for :sidebar do
    .sub-tabs
      %h3 Filter
      %ul
        %li= link_to t('bookyt.all'), url_for(params.merge(:by_state => 'all'))
        - for state in Invoice::STATES
          %li= link_to t(state, :scope => 'invoice.state'), url_for(params.merge(:by_state => state, :overdue => nil))
        %li= link_to t(:overdue, :scope => 'invoice.state'), url_for(params.merge(:by_state => nil, :overdue => true))
