// Media print specific styles ****

body
  padding-top: 0
  font-size: 10pt
  line-height: 1.2

.page-header
  margin: 0
  padding: 0

h1
  font-size: 14pt


// Navigation elements
.navbar,
#sidebar,
.pagination,
.search-form,
#footer,
.form-actions
  display: none

// Sidebar fix
#content > .row-fluid > .span10
  width: 100%
  padding: 0
  margin: 0

// Alerts
.alert
  display: none

// Actions
.contextual,
.action-links,
.btn
  display: none

// Tabs
ul.nav.nav-tabs
  border-bottom: none

ul.nav.nav-tabs li
  display: none

  &.active
    display:     block

  a
    border:      none
    outline:     none
    font-size:   12pt
    color:       #333
    font-weight: bold
    margin:      0
    padding:     0

// Elements
a
  color: #484848

input,
textarea,
select
  border: 0px none
  box-shadow: none

.ui-widget-content
  border: none

form
  .container-fluid
    padding-left: 0
    padding-right: 0

.form-horizontal
  .control-group
    margin-bottom: 0

    label
      width: auto
      margin-bottom: 0

    .controls
      margin-left: 0
      input
        border-style: none
        border-bottom-style: solid
        border-radius: 0
        box-shadow: none
        -webkit-box-shadow: none
        outline-style: none
        padding: 0

tbody tr.selected td, .table-striped tbody tr.selected td
  background-color: #f9f9f9
  border-color: #ddd
