@import compass/utilities/text/replacement

=icon-text($ident, $icon: $ident, $size: 16)
  .icon-#{$ident}-text
    +replace-text-with-dimensions("#{$size}x#{$size}/#{$icon}.png")
    display: block
    float: left

=icon($ident, $size: 16)
  background-image: url("/images/#{$size}x#{$size}/#{$ident}.png")

=icon-class($ident, $icon: $ident, $size: 16)
  .icon-#{$ident}
    +icon($icon, $size)

.icon
  background-repeat: no-repeat
  padding-left: 20px
  text-decoration: none
  font-size: 16px
  color: $link_color
  &:hover
    color: $link_color_hover

+icon-class("add")

+icon-class("new", "add")

+icon-class("delete")

+icon-class("edit")

+icon-class("index")

+icon-class("show")

+icon-class("copy")

+icon-text("add")

+icon-text("new", "add")

+icon-text("delete")

+icon-text("edit")

+icon-text("index")

+icon-text("show")

+icon-text("copy")
