#overview
  ul
    +no-bullets
    +horizontal-list
    li#accounting,
    li#invoicing,
    li#basic_claims_data
      width: 120px
    li a
      border-bottom: 1px solid black
      display: block
    ul
      width: inherit
      li
        padding-left: 0px
        width: inherit
        a
          border-bottom: none