// Accounting
.currency
  text-align: right

// Balance and Profit Sheet
#balance-sheet table table, #profit-sheet table table
  border-spacing: 0px

#balance-sheet table table td, #profit-sheet table table td
  padding: 0.4em

#balance-sheet td, #profit-sheet td
  vertical-align: top
  color: black

#balance-sheet a, #profit-sheet a
  color: black

#balance-sheet tr.total
  td, th
    color: white
    background-color: black

#profit-sheet tr.total
  td, th
    color: white
    background-color: black
