@import "blueprint/liquid"
@import "compass/utilities/lists/horizontal-list"

body
  +blueprint-liquid-grid
  color: #484848
  background: #f3f3f3
  +sanserif-font

#container
  +container
  margin-top: $h2_size

#main-menu
  ul
    +horizontal-list
    
#content
  +column($column_content)
  +last
  background-color: white
  margin: 0px
  border-right: 1px solid #dddddd
  padding: $content_padding
  width: 100% - 2 * $content_padding
  z-index: 10

* html content
  padding-left: 0
  margin-top: 0px
  padding: $content_padding

html>body #content
  min-height: 600px

* html body #content
  height: 600px  

// #sidebar
//   +column($column_sidebar)
//   +last
//  padding-top: $h2_size * 2

#sidebar
  margin-top: 20px
    
