// Style sheet for NoProbs must be included to with HTML.
// Styles for body.
body
  margin: 0 auto
  padding: 0
  font: 90% Verdana, Helvetica, Tahoma, Arial, sans-serif
  background: #f3f3f3 top center repeat-y
  color: #494949

// Trac
// Forms
input, textarea, select
  margin: 2px

input
  vertical-align: middle

select
  vertical-align: middle
  border: 1px solid #d7d7d7

input
  &[type=submit], &[type=reset]
    background: #eeeeee
    color: #222222
    border: 1px outset #cccccc
    padding: 0.1em 0.5em
  &[type=submit]:hover, &[type=reset]:hover
    background: #ccccbb
  &[type=text], &.textwidget
    background: white
    color: black
    border: 1px solid #d7d7d7

textarea
  background: white
  color: black
  border: 1px solid #d7d7d7

input
  &[type=text], &.textwidget
    padding: 0.25em 0.5em
  &[type=text]:focus
    border: 1px solid #888866

textarea:focus
  border: 1px solid #888866

option
  border-bottom: 1px dotted #d7d7d7

fieldset
  border: 1px solid #d7d7d7
  padding: 0.5em
  margin: 0
  &.iefix
    border: none
    padding: 0
    margin: 0

* html fieldset.iefix
  width: 98%

fieldset.iefix p
  margin: 0

legend
  color: #999999
  padding: 0 0.25em
  font-size: 90%
  font-weight: bold

label.disabled
  color: #d7d7d7

.buttons
  margin: 0.5em 0.5em 0.5em 0
  form
    display: inline
    div
      display: inline
  input
    margin: 1em 0.5em 0.1em 0

#properties
  white-space: nowrap
  line-height: 160%
  padding: 0.5em
  .main
    margin-bottom: 1em
  .col1
    border-right: 1px dotted #d7d7d7
    float: left
    margin-bottom: 1em
    width: 45%
  .col2
    margin-left: 40%
  .main label, .col1 label, .col2 label
    float: left
    width: 7em
    text-align: right
    margin-right: 0.5em

// Styles for tabular listings such as those used for displaying directory
// contents and report results.
table.listing
  clear: both
  border-bottom: 1px solid #d7d7d7
  border-collapse: collapse
  border-spacing: 0
  margin-top: 1em
  width: 100%
  th
    text-align: left
    padding: 0 1em 0.1em 0
    font-size: 12px
  thead
    background: #f7f7f0
    th
      border: 1px solid #d7d7d7
      border-bottom-color: #999999
      font-size: 11px
      font-weight: bold
      padding: 2px 0.5em
      vertical-align: bottom
      \:link:hover, :visited:hover
        background-color: transparent
      a
        border: none
        padding-right: 12px
  th
    &.asc a, &.desc a
      font-weight: bold
    &.asc a, &.desc a
      background-position: 100% 50%
      background-repeat: no-repeat
  tbody
    td, th
      border: 1px dotted #dddddd
      padding: 0.33em 0.5em
      vertical-align: top
    td a:hover, th a:hover
      background-color: transparent
    tr
      border-top: 1px solid #dddddd
      &.even
        background-color: #fcfcfc
      &.odd
        background-color: #f7f7f7
      &:hover
        background: #eeeedd !important

// table.listing th.asc a { background-image: url(../asc.png) }
// table.listing th.desc a { background-image: url(../desc.png) }
