body
  font-size: 12px
  color: #484848
  margin: 0
  padding: 0
  min-width: 900px

// Layout ****

#header
  height: 5.3em
  margin: 0
  background-color: #507aaa
  color: #f8f8f8
  padding: 4px 8px 0px 6px
  position: relative
  a
    color: #f8f8f8

#main
  background-color: #eeeeee

#sidebar
  float: right
  width: 17%
  position: relative
  z-index: 9
  min-height: 600px
  padding: 0
  margin: 0

* html #sidebar
  width: 17%

#sidebar
  h3
    font-size: 14px
    margin-top: 14px
    color: #666666
  hr
    width: 100%
    margin: 0 auto
    height: 1px
    background: #cccccc
    border: 0

* html #sidebar hr
  width: 95%
  position: relative
  left: -6px
  color: #cccccc

#content
  width: 80%
  background-color: white
  margin: 0px
  border-right: 1px solid #dddddd
  padding: 6px 10px 10px 10px
  z-index: 10

* html #content
  width: 80%
  padding-left: 0
  margin-top: 0px
  padding: 6px 10px 10px 10px

html>body #content
  min-height: 600px

* html body #content
  height: 600px

// IE

#footer
  clear: both
  border-top: 1px solid #bbbbbb
  font-size: 0.9em
  color: #aaaaaa
  padding: 5px
  text-align: center
  background: white

#login-form
  table
    margin-top: 5em
    padding: 1em
    margin-left: auto
    margin-right: auto
    border: 2px solid #fdbf3b
    background-color: #ffebc1
    td
      padding: 6px
  label
    font-weight: bold

// Links ****

a
  color: #2a5685
  text-decoration: none
  &:link, &:visited
    color: #2a5685
    text-decoration: none
  &:hover, &:active
    color: #c61a1a
    text-decoration: underline
  img
    border: 0

// Tables ****

table.list
  border: 1px solid #e4e4e4
  border-collapse: collapse
  width: 100%
  margin-bottom: 4px
  th
    background-color: #eeeeee
    padding: 4px
    white-space: nowrap
  td
    vertical-align: top
    &.id
      width: 2%
      text-align: center
    &.checkbox
      width: 15px
      padding: 0px

tr
  &.entry
    border: 1px solid #f8f8f8
    td
      white-space: nowrap
      &.filename
        width: 30%
      &.size
        text-align: right
        font-size: 90%
      &.revision, &.author
        text-align: center
      &.age
        text-align: right
    span.expander
      background-image: url(../images/bullet_toggle_plus.png)
      padding-left: 8px
      margin-left: 0
      cursor: pointer
    &.open span.expander
      background-image: url(../images/bullet_toggle_minus.png)
    &.file td.filename a
      margin-left: 16px
  &.message
    height: 2.6em
    td.last_message
      font-size: 80%
    &.locked td.subject a
      background-image: url(../images/locked.png)
    &.sticky td.subject a
      background-image: url(../images/sticky.png)
      font-weight: bold

table
  &.list tbody tr:hover
    background-color: #ffffdd
  td
    padding: 2px
  p
    margin: 0

.odd
  background-color: #f6f7f8

.even
  background-color: white

.box
  padding: 6px
  margin-bottom: 10px
  background-color: #f6f6f6
  color: #505050
  line-height: 1.5em
  border: 1px solid #e4e4e4

div.square
  border: 1px solid #999999
  float: left
  margin: 0.3em 0.4em 0 0.4em
  overflow: hidden
  width: 0.6em
  height: 0.6em

.contextual
  float: right
  white-space: nowrap
  line-height: 1.4em
  margin-top: 5px
  padding-left: 10px
  font-size: 0.9em
  input
    font-size: 0.9em

form
  display: inline

input, select
  vertical-align: middle
  margin-top: 1px
  margin-bottom: 1px

fieldset
  border: 1px solid #e4e4e4
  margin: 0

legend
  color: #484848

hr
  width: 100%
  height: 1px
  background: #cccccc
  border: 0

blockquote
  font-style: italic
  border-left: 3px solid #e0e0e0
  padding-left: 0.6em
  margin-left: 2.4em
  blockquote
    margin-left: 0

li p
  margin-top: 0

p
  &.breadcrumb
    font-size: 0.9em
    margin: 4px 0 4px 0
  &.subtitle
    font-size: 0.9em
    margin: -6px 0 12px 0
    font-style: italic
  &.footnote
    font-size: 0.9em
    margin-top: 0px
    margin-bottom: 0px

fieldset
  &#filters, &#date-range
    padding: 0.7em
    margin-bottom: 8px
  &#filters
    p
      margin: 1.2em 0 0.8em 2px
    table
      border-collapse: collapse
      td
        padding: 0
        vertical-align: middle
    tr.filter
      height: 2em
    td.add-filter
      text-align: right
      vertical-align: top

.buttons
  font-size: 0.9em

.pagination
  font-size: 90%

p.pagination
  margin-top: 8px

.required
  color: #bb0000

// Flash & error messages ***

#errorExplanation, div.flash, .nodata, .warning
  padding: 4px 4px 4px 30px
  margin-bottom: 12px
  font-size: 1.1em
  border: 2px solid

div.flash
  margin-top: 8px
  &.error
    background: url(../images/false.png) 8px 5px no-repeat
    background-color: #ffe3e3
    border-color: #dd0000
    color: #550000

#errorExplanation
  background: url(../images/false.png) 8px 5px no-repeat
  background-color: #ffe3e3
  border-color: #dd0000
  color: #550000

div.flash.notice
  background: url(../images/true.png) 8px 5px no-repeat
  background-color: #dfffdf
  border-color: #9fcf9f
  color: #005f00

.nodata, .warning
  text-align: center
  background-color: #ffebc1
  border-color: #fdbf3b
  color: #a6750c

#errorExplanation ul
  font-size: 0.9em

// Ajax indicator *****
#ajax-indicator
  position: absolute
  /* fixed not supported by IE
  background-color: #eeeeee
  border: 1px solid #bbbbbb
  top: 35%
  left: 40%
  width: 20%
  font-weight: bold
  text-align: center
  padding: 0.6em
  z-index: 100
  filter: alpha(opacity = 50)
  opacity: 0.5

html>body #ajax-indicator
  position: fixed

#ajax-indicator span
  background-position: 0% 40%
  background-repeat: no-repeat
  background-image: url(../images/loading.gif)
  padding-left: 26px
  vertical-align: bottom

a.close-icon
  display: block
  margin-top: 3px
  overflow: hidden
  width: 12px
  height: 12px
  background-repeat: no-repeat
  cursor: pointer
  background-image: url('../images/close.png')
  &:hover
    background-image: url('../images/close_hl.png')

// Icons ****
.icon
  background-position: 0% 40%
  background-repeat: no-repeat
  padding-left: 20px
  padding-top: 2px
  padding-bottom: 3px

.icon22
  background-position: 0% 40%
  background-repeat: no-repeat
  padding-left: 26px
  line-height: 22px
  vertical-align: middle
