.form-view
  form, form.formtastic
    background-color: transparent
    padding:          0px

    input, textarea, select
      border:        1px dashed #DDDDDD
      border-radius: 3px
      padding:       3px
      &.changed, &:focus
        background-color: #FFFFE0
        background-image: none // Fix for combobox

    fieldset.buttons
      display: none

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button
    -webkit-appearance: none
    margin: 0

// Combobox
.form-view
  .combobox-link
    display:        inline-block
    margin-left:    1%
    vertical-align: middle

+icon-text("combolink")
