.form-view
  form, form.formtastic
    background-color: transparent
    padding:          0px

    input, textarea, select
      border:        1px dashed lightgray
      border-radius: 3px
      padding:       3px
      &.changed
        border:        2px dashed lightgray
        padding:       2px

    fieldset.buttons
      display: none
