.invoice-position
  width: 3em

// LineItems
#line_items
  .head
    font-weight: bold

.line_item
  padding-top: 0.8em
  padding-bottom: 0.8em
  border-bottom: 1px solid #e5e5e5

  .row-fluid + .row-fluid
    margin-top: 0.6em

  .date input
    width: calc(100% - 1.5em)

  .action_links
    text-align: right

.saldo_line_item
  padding-top: 0.8em
  padding-bottom: 0.8em
  background-color: #F9F9F9

  .action_links
    text-align: right
