- @attributes ||= collection.first.attribute_names - ['id', 'created_at', 'updated_at']
%table.list{:class => "#{collection.first.class.to_s.downcase.pluralize} collection"}
  %thead
    %tr
      - @attributes.each do |field|
        %th= t_attr field, collection.first.class
      %th.action-links
  %tbody
    - collection.each do |r|
      %tr
        - @attributes.each do |field|
          %td= r.send(field) if r.respond_to?(field)
        %td.action-links
          =link_to t_action(:show), resource_url(r), 'data-href-container' => 'tr'
          =link_to t_action(:edit), edit_resource_url(r)
          =link_to t_action(:delete), resource_url(r), :confirm => t_confirm_delete(r), :method => :delete
