%tr[bank]
  %td= link_to bank.vcard.try(:full_name), bank, {'data-href-container' => 'tr'}
  %td= [ bank.vcard.address_lines.join(", "), bank.vcard.contacts.map{|contact| contact.to_s(': ', :label)}.join(', ') ].compact.join("<br/>").html_safe
