.account, .account td {
  border: solid 1px;
}

.booking_list tr td {
  background-color: white;
  border-left: 0px none;
  border-right: 0px none;
  border-top: 2px solid;
}

.booking_list tr {
  border-left: 0px none;
  border-right: 0px none;
}
