/*** Accounting ***/
.booking_list tr td {
  background-color: white;
  border-left: 0px none;
  border-right: 0px none;
  border-bottom: 1px solid;
}

.booking_list tr {
  border-left: 0px none;
  border-right: 0px none;
}

.currency {
  text-align: right;
}

/* Balance and Profit Sheet */
#balance-sheet table table, #profit-sheet table table {
  border-spacing: 0;
}

#balance-sheet table table td, #profit-sheet table table td{
  padding: 0.4em;
}

#balance-sheet td, #profit-sheet td {
  vertical-align: top;
  color: black;
}

#balance-sheet a, #profit-sheet a {
  color: black;
}

#balance-sheet tr.total td, #balance-sheet tr.total th,
#profit-sheet tr.total td, #profit-sheet tr.total th {
  color: white;
  background-color: black;
}

@media print {
  #balance-sheet form, #profit-sheet form {
    display: none;
  }
  #balance-sheet, #profit-sheet {
    background: white;
  }
}
