/*** Accounting ***/
.booking_list tr td {
  background-color: white;
  border-left: 0px none;
  border-right: 0px none;
  border-bottom: 1px solid;
}

.booking_list tr {
  border-left: 0px none;
  border-right: 0px none;
}
