/*** VESR Invoice ***/
#invoice table {
  border-spacing:	0;
  border-collapse:	collapse;
}
#invoice h1, #invoice h2, #invoice h3 {
  border-bottom: 0;
}

.block {
  font-size:   8pt;
  position:    absolute;
}
#invoice h3 {
  color:         gray;
  font-style:    italic;
  font-weight:   normal;
  font-size:     8pt;
  margin-bottom: 0.2em;
}
.block th {
  color:         gray;
  font-style:    italic;
  font-weight:   normal;
  font-size:     8pt;
  text-align:    left;
  padding-right: 5.4em;
}

.line {
  font-size:   9pt;
  position:    absolute;
}

.head {
  font-size:   16pt;
  font-weight: bold;
}
.subhead {
  vertical-align: top;
  font-size:      7pt;
  font-weight:   bold;
}
#invoice .list {
  font-size:   7pt;
}
.bullet {
  font-size:   8pt;
  font-weight: none;
}

.col1 {
  width: 1.8cm;
}

.total {
  font-weight: bold;
}
.amount {
  font-size:   8pt;
  text-align:  right;
}
.totalamount {
  font-size:   8pt;
  font-weight: bold;
  text-align:  right;
}

/* Invoice */
#invoice {
  font-family: Arial,DejaVu Sans;
  font-size:   8pt;
  margin-top:  0.5cm;
  position:    absolute;
  width:       18.2cm;
  height:      29cm;
  top:         0cm;
  left:        0cm;
}

#invoice-balance {
  position: absolute;
  top:      11cm;
  width:    16.2cm;
  left:     1.5cm;
}

#billingaddress {
  font-size:   12pt;
  top:         4.2cm;
  left:        12.3cm;
}
#info {
  top:         0cm;
  left:        1.5cm;
}
#info h2 {
  margin-bottom: 1em;
}

#biller {
  top:         2.2cm;
  left:        1.5cm;
}
#referrer {
  top:         4.8cm;
  left:        1.5cm;
}
#provider {
  top:         2.1cm;
  left:        5.5cm;
}
#patient {
  top:         4.8cm;
  left:        5.5cm;
}

/* VESR Form */
#vesr {
  width:       18.2cm;
  font-size:   10pt;
  font-family: ocr-b,Helvetica,Arial,sans-serif;
  position:    absolute;
  top:         26.9cm;
  left:        6.7cm;
}
#paymentfor1 {
  top:         19.4cm;
  left:        0.2cm;
}
#account1 {
  top:         22.5cm;
  left:        2.7cm;
}
#paymentreference1 {
  font-size:   95%;
  top:         24.5cm;
  left:        0.2cm;
}
#paymentby1 {
  top:         25.0cm;
  left:        0.2cm;
}
#paymentamount1 {
  top:         23.5cm;
  right:       12.8cm;
  text-align:  right;
}
#paymentfor2 {
  top:         19.4cm;
  left:        6.2cm;
}
#account2 {
  top:         22.5cm;
  left:        8.7cm;
}
#paymentby2 {
  top:         24.0cm;
  left:        6.2cm;
}
#paymentby3 {
  top:         23.0cm;
  left:        12.5cm;
}
#paymentamount2 {
  top:         23.5cm;
  right:       6.7cm;
  text-align:  right;
}
#reference {
  font-size:   11pt;
  top:         21.8cm;
  left:        12.6cm;
  width:       10cm;
}

/* Reminder */
#reminder-message {
  font-size: 9pt;
  position:  absolute;
  top:       7.5cm;
  width:     17cm;
  left:      1.5cm;
}

#reminder-balance {
  position: absolute;
  top:      14.5cm;
  width:    17cm;
  left:     1.5cm;
}

#invoice .booking_list {
  width:     100%;
  font-size: 8pt;
}

#invoice .booking_list th {
  text-align: left;
}

#signature {
  margin-top:   1.5em;
  margin-left: 10.8cm
}
