@import compass/css3/border-radius
@import compass/css3/text-shadow

$default-text-shadow-blur: 5px

#header
  +border-radius($border_radius)
  height: 60px
  background-color: $dark_blue
  color: $white
  position: relative

#logo
  position: absolute
  right: 1em

#logo img
  float: left
  display: inline

#logo-text
  float: right
  font-size: 24pt
  padding-top: 6px
  color: #002b3d
  +single-text-shadow(#555555, 1px, 1px, 1px)

#logo-yt
  color: #074a9d
