<div class="contextual">
  <%= link_to 'Show', @booking %>
  <%= link_to 'Back', bookings_path %>
  <%= link_to 'Destroy', @booking, :confirm => 'Are you sure?', :method => :post %>
</div>
<h2>Editing booking</h2>

<%= render :partial => 'form' %>
