<h1>Neue Buchung</h1>

<script type="text/javascript">
//<![CDATA[
Event.observe(window, 'load', function() {$('booking_title').focus()}, false);
//]]>
</script>

<% form_tag( {:action => 'create'}, { :multipart => true } ) do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<% end %>

<%= link_to 'Back', :action => 'list' %>
