.alert-message.block-message.info
  %p
    Dies ist eine demo Installation. Mit folgenden Daten können sie sich als Administrator anmelden:
  %p
    <b>Benützer:</b> <i>admin@example.com</i>
  %p
    <b>Passwort:</b> <i>demo1234</i>
