.alert-message.block-message.info
  %p
    This is a demo installation. Use these credentials to login as admin:
  %p
    <b>User:</b> <i>admin@example.com</i>
  %p
    <b>Password:</b> <i>demo1234</i>
