%h1 Lieferung erfassen
- form_remote_for :purchase, @purchase, :update => 'selling_price', :url => { :action => 'calculate_selling_price' } do |f|
  %table.listing
    %tr
      %th Gesamtpreis EUR
      %th Anzahl
      %th Marge
      %th Verkaufspreis CHF
    %tr
      %td= f.text_field 'purchase_price_eur', :size => 4, :style => 'text-align: right'
      %td= f.text_field 'amount', :size => 4, :style => 'text-align: right'
      %td= f.text_field 'purchase_price_eur', :size => 4, :style => 'text-align: right'
