%tr[attachment]
  %td= link_to attachment.title, attachment.file.url, {'data-href-container' => 'tr'}
  %td.action-links
    =link_to t_action(:show), resource_url(attachment), 'data-href-container' => 'tr'
    =link_to t_action(:edit), edit_resource_url(attachment)
    =link_to t_action(:delete), resource_url(attachment), :confirm => t_confirm_delete(attachment), :method => :delete
