%tr[attachment]
  %td
    = link_to attachment, download_attachment_url(attachment), {'data-href-container' => 'tr'}
    = boot_label(attachment.code(:text))
  %td.action-links
    = list_link_for(:edit, attachment)
    = list_link_for(:delete, attachment)
