%tr[attachment]
  %td= link_to attachment.title, attachment.file.url, {'data-href-container' => 'tr'}
  %td.action-links
    = icon_edit_link_to edit_attachment_url(attachment)
    = icon_delete_link_to attachment, attachment_url(attachment)
