%tr[account_type]
  %td= account_type.name
  %td= account_type.title
  %td.action-links
    = icon_edit_link_to edit_account_type_path(account_type)
    = icon_delete_link_to account_type, account_type_path(account_type)
