.nested-form-item
  .control-group.string.optional
    %label.select.optional.control-label= item.select :phone_number_type, ['Tel. geschäft', 'Tel. privat', 'Handy', 'Fax', 'E-Mail', 'Webseite']
    .controls
      = item.text_field :number, :autocomplete => 'off', :class => 'string optional'
      = link_to content_tag(:i, '', :class => 'icon-trash delete-nested-form-item'), '#'
    = item.hidden_field :_destroy
