%div.phone_number.clearfix
  %label.select= item.select :phone_number_type, ['Tel. geschäft', 'Tel. privat', 'Handy', 'Fax', 'E-Mail', 'Webseite']
  .input
    = item.text_field :number, :size => 6, :autocomplete => 'off'
    %span
      = link_to t_action(:delete), '#'
  = item.hidden_field :_destroy
