defaults: &defaults
  title: Bookyt

demo:
  <<: *defaults
  google_analytics:
    api_key:

development:
  <<: *defaults

test:
  <<: *defaults

staging:
  <<: *defaults

production:
  <<: *defaults
