defaults: &defaults
  title: Bookyt
  footer: >
    Bookyt is built by <a href="http://cyt.ch" target="_blank">CyT GmbH</a>.
    Code licensed under the <a href="http://www.gnu.org/licenses/agpl-3.0.html" target="_blank">GNU AGPL 3</a>.
  cas_base_url: 'http://sso-server.me'
  devise_backend: 'database_authenticatable'
demo:
  <<: *defaults
  google_analytics:
    api_key:

development:
  <<: *defaults

test:
  <<: *defaults
  devise_backend: 'database_authenticatable'
staging:
  <<: *defaults

production:
  <<: *defaults
