# Database configuration
# ======================
# This file can be use as a template for the database.yml file.
#
# Search will only work with PostgreSQL
# For production environments PostgreSQL is a better fit. In this
# case you need to setup the databases and adapt this file:
#
# 1. create the database and grant access
# 2. set username and password and possibly host settings in
#    the environment config.

# Common settings
# ===============
# PostgreSQL
postgres: &postgres
  adapter:  postgresql
  encoding: utf8
  host:     localhost

# Environments
# ============
production:
  <<: *postgres
  database: bookyt_production
  username: bookyt
  password:

development:
  <<: *postgres
  database: bookyt_development
  username: bookyt
  password:

test:
  <<: *postgres
  database: bookyt_test
  username: bookyt
  password:
