%tr[company]
  %td= link_to company.vcard.try(:full_name), company, {'data-href-container' => 'tr'}
  %td.action-links
    = icon_edit_link_to edit_company_path(company)
    = icon_delete_link_to company, company_path(company)
