%tr#bookings_footer
  %th{:style => "width: 10em"}= l Date.today
  %th{:colspan => 2}= direct_balance >= 0 ? t_attr(:open_amount, Invoice) : t_attr(:balance, Invoice)
  %th.currency
    = currency_fmt(direct_balance)
    \&nbsp;CHF
