- direct_bookings = Booking.by_reference(reference)

- if direct_bookings.empty?
  - direct_balance = 0.0
- else
  - direct_balance = direct_bookings.direct_balance(direct_account)

%table.zebra-striped.direct_bookings.collection
  %tbody
    = render :partial => 'direct_bookings/item', :collection => direct_bookings, :locals => {:direct_account => direct_account}
  %tfoot 
    = render 'direct_bookings/list_footer', :direct_balance => direct_balance
