%tr[mt940_attachment]
  %td= link_to mt940_attachment.start_date, mt940_attachment, 'data-href-container' => 'tr'
  %td= mt940_attachment.end_date
  %td= link_to mt940_attachment.account, mt940_attachment.account
