%tr[backup]
  %td
    = link_to backup, download_attachment_url(backup), {'data-href-container' => 'tr'}
    = boot_label(backup.code(:text))
  %td.action-links
    = link_to t_action(:restore), restore_tenant_backup_url(current_tenant, backup), :method => :post, :class => 'btn btn-mini'
