/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require jquery-ui
 *= require_self
 *= require app_bootstrap
 *= require select2
 *= require bootstrap-datepicker
 *= require vesr
 *= require screen
 *= require table_select
*/

td .best_in_place input {
  margin: 0px;
}

table.bookings {
  th.valute_date {
    width: 15ex;
  }
  th.amount {
    width: 8ex;
  }

  input#booking_value_date {
    width: 10ex;
  }

  textarea#booking_comments {
    height: 3em;
  }
}

th, td {
  &.action-links {
    white-space: nowrap;
    width: 1px;
  }
}
