<table class="listing">
  <tr>
    <th>Datum</th>
    <th>Bar</th>
    <th>Karte</th>
    <th>Soll</th>
    <th>Kasse</th>
    <th>Differenz</th>
    <th>Trinkgeld</th>
  </tr>

  <% for day in @days %>
  <tr>
    <td><%=h day.date %></td>
    <td><%=h day.cash %></td>
    <td><%=h day.card_turnover %></td>
    <td><%=h day.cash + day.card_turnover %></td>
    <td><%=h day.cash + day.card_turnover %></td>
    <td><%=h "" %></td>
    <td><%=h "" %></td>
  </tr>
  <% end %>
</table>
