- @attachments = resource.attachments
- if @attachments.empty?
  = boot_no_entry_alert
  .attachments.collection
- else
  = render 'attachments/list' unless @attachments.empty?

.form-actions
  = icon_link_to :new, [:new, resource, :attachment], :remote => true
