.contextual
  = icon_link_to :new, [:new, resource, :attachment], :remote => true
%h3= t('title.attachments')

- @attachments = resource.attachments
- if @attachments.empty?
  = boot_alert(t('attachments.alerts.empty'))
  .attachments.collection
- else
  = render 'attachments/list' unless @attachments.empty?
