%tr.line_item_total
  %th{:colspan => 2}
    = link_to 'Neue Position', [:new_line_item, resource.persisted? ? resource : resource.class.name.underscore.pluralize.to_sym], :remote => true, :class => 'btn'
    = link_to 'Neue Zwischensumme', polymorphic_url([:new_line_item, resource.persisted? ? resource : resource.class.name.underscore.pluralize.to_sym], :klass => 'SaldoLineItem'), :remote => true, :class => 'btn'
  %th
  %th
  %th= t('bookyt.total')
  %th.currency.total_amount= currency_fmt(total_amount)
