%tr
  %td= account.code
  %td= link_to account.title, account
  - if @date
  %td{:style => "text-align: right"}= currency_fmt(account.saldo(@date))
  - else
  %td{:style => "text-align: right"}= currency_fmt(account.saldo.abs)
