<tr id="booking_list_saldo" style="border-top: double 2px black; background-color: grey">
  <td colspan="2">Kontostand (per <%= @bookings.last.value_date.strftime("%d.%m.%Y") %>)</td>
  <td/>
  <td/>
  <td/>
  <td style="text-align: right"><%= currency_fmt(@account.saldo(@bookings.last)) %></td>
  <td/>
</tr>
