%tr
  %th= t :code, :scope => [:activerecord, :attributes, :account]
  %th= t :title, :scope => [:activerecord, :attributes, :account]
  %th{:style => "text-align: right"}= t :saldo, :scope => [:activerecord, :attributes, :account]
