<h1>Editing account</h1>

<% form_tag :action => 'update', :id => @account do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @account %> |
<%= link_to 'Back', :action => 'list' %>
