<div class="contextual">
  <%= link_to "Neues Konto", new_account_path, :class => "icon icon-add" %>
</div>
<h2>Konten</h2>

<table class="list">
  <%= render 'list_header' %>
  <%= render @accounts %>
  <%= render 'list_footer' %>
</table>

