<h2>Konten</h2>

<table class="list">
  <%= render :partial => 'accounts/list_header' %>
  <%= render :partial => 'accounts/item', :collection => @accounts %>
  <%= render :partial => 'accounts/list_footer' %>
</table>

