<%= form_for(@booking_template) do |f| %>
  <% if @booking_template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking_template.errors.count, "error") %> prohibited this booking_template from being saved:</h2>

      <ul>
      <% @booking_template.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
