<h1>Listing booking_templates</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @booking_templates.each do |booking_template| %>
  <tr>
    <td><%= link_to 'Show', booking_template %></td>
    <td><%= link_to 'Edit', edit_booking_template_path(booking_template) %></td>
    <td><%= link_to 'Destroy', booking_template, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Booking template', new_booking_template_path %>
