%tr[booking_import_attachment]
  %td= link_to booking_import_attachment.start_date, booking_import_attachment, 'data-href-container' => 'tr'
  %td= booking_import_attachment.end_date
  %td= link_to booking_import_attachment.account, booking_import_attachment.account
